/* Universal style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}

/* Shared styles */
.pink-text {
    color:#E55473;
}
.section-title {
    color: #272727;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.section-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

/* Header section styles */
.header-section {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 50px 240px 0 240px;
    background-color: rgba(229, 84, 115, 0.10);
}
.header-title {
    color: #272727;
    font-size: 70px;
    font-weight: 700;
    margin-top: 147px;
    margin-bottom: 32px;
}
.header-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}
.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 0;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}
.header-img {
    margin-bottom: -3px; /*This helps remove the small 3px extra background under the flower image*/
}

/* Featured Flowers Section Styles */
.featured-flowers-section {
    text-align: center;
    margin: 180px 240px 64px;
}
.featured-flowers {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}
.flower {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}
#flower1 {
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 77px 0;
}
#flower2 {
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px;
}
#flower3 {
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0;
}
.featured-flowers-captions {
    display: flex;
    justify-content: space-between;
    margin: 22px 120px 0;
}
.featured-flowers-captions h5 {
    color: #272727;
    /* text-align: center; */
    font-size: 24px;
    font-weight: 400;
    text-decoration-line: underline;
}

/* Service Section styles */
.service-section {
    text-align: center;
    height: 320px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 64px 205px;
    padding-top: 86px;
}
.service img {
    margin-bottom: 24px;
}
.service h6 {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

/* Hot Deals Section styles */
.hot-deals-section {
    display: flex;
    justify-content: space-between;
    height: 620px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 330px;
}
.hot-deals-section h3 {
    margin-top: 130px;
}

/* Instagram Section styles */
.instagram-section {
    text-align: center;
    margin: 128px 240px 64px;
}
.instagram-images {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

/* Customer Review Section styles */
.customer-review-section {
    text-align: center;
    height: 600px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 100px 330px;
}
.customer-reviews-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 40px;
}
.customer-review > img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.customer-name {
    margin: 15px 0;
}

/* Newsletter Section styles */
.newsletter-section {
    text-align: center;
    height: 449px;
    border-radius: 8px;
    background-image: url('../images/Rectangle\ 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 64px 205px 128px;
}
.newsletter-section h3 {
    padding-top: 122px;
}
.email-input {
    width: 700px;
    height: 64px;
    border: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding-left: 24px;
    margin-right: 16px;
}

/* Footer Section styles */
footer {
    background: #111010;
    text-align: center;
    padding-top: 128px;
    padding-bottom: 128px;
}

.footer-title {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}
.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0 650px 32px;
}
#copy-right-text {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}